html{
		font-size: 12px;
}
body{
	margin:  0vw;
	background-color: #68cdd5;
}

.pic{
 margin:50px auto 0px auto;
width:200px;
height: 70px;
}
.txt{
 margin:50px 10vw 70px 10vw;
width:80vw;
height: 70px;
color: white;
font-size: 1.5rem;
}
.txticon{
color: white;
font-size: 1.3rem;
}
.icon-r{
	float:right;
	margin-right: 18vw;
	margin-bottom: 5vw;
	width: 90px;
	text-align:center;
}
.icon-l{
	float:left;
	margin-left: 18vw;
	margin-bottom: 5vw;
	width: 90px;
text-align:center;
}
.clean{
	clear:both;
}