html{
	font-size: 1.6vh;
}
body{
	background-color: #eff0f4;
	margin:0px;
}
.head{
	width: 94vw;
	height: 12vh;
position: fixed;
top:0px;
background-color: #5fc0cd;
 line-height: 12vh;
 padding-right: 3vw;
 padding-left: 3vw;
}

.logup
{
	float: left;
	color: white;
	font-size: 2.2rem;
}
.punintext
{
	display: block;
	width: 20vw;
		color: white;
margin:0px auto;
    font-size: 2.3rem;
    text-align: center;
}
.close
{
	float:right;
	color: white;
	font-size: 2.2rem;
}
.formm{
	margin-top: 13vh;
}
.phone{
	display: block;
	width:calc(100vw - 150px);
background:url(task4_img/登陆_03.png) no-repeat;                 
border: 0px;                
padding: 35px 2px 25px 150px;
background-color: white;
font-size: 2.3rem;
color: grey;
 margin-top: 20px;
 margin-bottom: 20px;
}
.password{
	display: block;
	width:calc(100vw - 150px);
background:url(task4_img/登陆_06.png) no-repeat;                 
border: 0px ;                
padding: 35px 2px 25px 150px;
background-color: white;
font-size: 2.3rem;
color: grey;
 margin-top: 20px;
 margin-bottom: 20px
}

.button{
display: block;
width:100vw;
height: 10vh;
font-size: 1.9rem;
background-color: #5fc0cd;
color: white;
}
.forget{
	display: block;
	float:right;
	margin-right: 20px;
	font-size: 1.5rem;
}
a:link{
	color: #5fc0cd;
	}
a:visited
 {color: #5fc0cd;
	}