.level{

}
.cube{
	float:left;
	height:29vw;
	width:29vw;
	background-color: #ff9900;
	border-radius:15px;
	margin: 2.5vw 0vw 0vw 2.5vw ;
}
.clean{
	 clear:both;
	 	height:0vw;
	width:0vw；
}
body{
	margin:  0vw;
}