html{
	font-size: 10px;
}
body{
	background-color:white;
	margin:0px;
}
.svg{
	width: 30px;
	height: 30px;
	position: absolute;
	top:10px;
	left:0px;
}
.head{
	width: 100vw;
	height: 50px;
position: fixed;
top:0px;
background-color: #5fc0cd;
 line-height: 50px;
 text-align: center;
 color: white;
 font-size: 2.2rem;
 z-index: 100;
}
.background{
	margin-top: 50px;
	background:url(task5_img/背景.png) ;   
	background-size:100vw 180px;
	height: 180px;
	position: relative;

}
.tu1{width: 80px;
	height: 80px;
float: left;
	left: 0px;
	bottom: 0px;
padding-right: 30px;
}
.text1{
	color: white;
	font-size: 1.8rem;
	display:block;
}
.tu2{width: 12px;
	height: 15px;
	margin-right: 10px;
	display:inline-block;
}
.text2{
	color: white;
	font-size: 1.8rem;
	display:inline;
}
.clear{
	clear: both;
	width: 0px;
	height: 0px;
}
.nomove{
	position: absolute;
	bottom: 30px;
	left: 20px;
	width:280px;
	height: 80px;
}
.tu3{
width: 3px;
height: 15px;

}
ul{
	list-style-type: none;
	font-size: 1.8rem;
	padding-left: 25px;
	margin: 0px;
	margin-bottom: 12vh;
	width: 100p
}
.title{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
	border-bottom: 1px solid #eff0f4;
	font-size: 2rem;
	margin: 0px;
}

.tu4{
	padding-left: 10px;
	padding-right: 5px;
	width: 15px;
	height: 15px;
}
li{
		border-bottom: 1px solid #eff0f4;
		margin-top: 10px;
	padding-bottom: 10px;
		font-size: 1.5rem;
	vertical-align:middle;
}
.block{
	color: grey;
	display: inline-block;
	border-right: 1px solid #eff0f4;
	margin-right: 10px;
	padding-right: 10px;
}
.block2{
	color: grey;
	display: inline-block;
	border-right: 1px solid #eff0f4;
	margin-right: 10px;
	padding-right: 10px;
}
.block3{
	display: inline-block;
	width: calc(100vw - 120px);
}
.footer{
	width: 100vw;
	height: 60px;
position: fixed;
bottom: 0px;
background-color: #ffffff;
}
.message{
margin-left: 1vw;
margin-top: 5px;
width: 48.5vw;
height: 50px;
color: #5fc0cd;
background-color: white;
border-radius: 8px;
border:2.5px solid #5fc0cd;
font-size: 2rem;
}
.phone{
margin-left: 1vw;
margin-top: 5px;
width: 48.5vw;
border: 2.5px solid #5fc0cd;
height: 50px;
color: white;
border-radius: 8px;
background-color: #5fc0cd;
font-size:  2rem;
}
.red{
	color: red;
}
.box{
	display: flex;
	align-items:center;
}
